<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>GOAT</title>
  </head>
  <body>
    <header>
      <div class="logos-header">
        <div class="logo1">
          <a href="./"><img src="../img/logo.png" alt="logo1" /></a>
        </div>
        <div class="logo2">
          <a href="./"><img src="../img/goat.png" alt="logo2" /></a>
        </div>
      </div>
      <div class="input-header">
        <div class="search-header">
          <input
            type="search"
            name="search"
            id="search"
            placeholder="Que estas buscando??"
          />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <nav class="hidden-nav">
        <ul class="ul-nav">
          <li class="item-nav"><a href="/productos">Productos</a></li>
          <li class="item-nav"><a href="/login">Login</a></li>
          <li class="item-nav"><a href="/shop">Shop</a></li>
          <li class="item-nav"><a href="/aboutus">Aboutus</a></li>
        </ul>
      </nav>
    </header>
    <main></main>

    <footer>
      <div class="sector-footer">
        <div class="logo-goat">
          <a href="./"><img src="../img/goat.png" alt="logo2" /></a>
        </div>
        <div class="links-footer">
          <ul class="ul-footer">
            <li class="li-footer"><a href="/productos">Productos</a></li>
            <li class="li-footer"><a href="/shop">Shop</a></li>
            <li class="li-footer"><a href="/contacto">Contacto</a></li>
          </ul>
        </div>

        <div class="redes-footer">
          <i class="fa-brands fa-facebook text-white"></i>
          <i class="fa-brands fa-instagram text-white"></i>
          <i class="fa-brands fa-whatsapp text-white"></i>
        </div>
      </div>
      <p class="p-footer">DigitaHouse TN-44 Grupo2 - www.goat.com</p>
    </footer>
  </body>
</html>
