*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

:root{
     /* COLOURS */
     --azul: #050F28;
     --bordo: #5A0F23;
     --gris: #C7C7C7;
      --negro: #000000;
      --blanco: #FFFFFF;
}
body{
     width: 100vw;
     height: 100vh;
     background-color: var(--gris);
     font-family: 'Lato', sans-serif;
}


/* ------------------------------------------------------------------ */
/* --------- INDEX.HTML --------- */
/* ------------------------------------------------------------------ */
/* --------- HEADER --------- */


header{
     background-color:var(--azul);
     position: sticky;
     display: flex;
     justify-content: space-between;

}

/* --------- HEADER LOGO --------- */
header .logos-header{
     margin-left: 10px;
}

.logo1 img{
     width: 75px;

}


.logo2 img{
     width: 75px;
}

.logo1 img{
     border-radius: 50%;
}
/* --------- HEADER INPUT --------- */
header .input-header{
     border-radius: 10px;
     align-self: center;
}

header .search-header i{
     background-color: var(--blanco);
     border-radius: 50%;
     padding: 5px;
}

/* --------- HEADER BURGER --------- */

header .burger-menu{
     font-size: 2em;
     align-self: center;
     padding: 5px;
     margin-right: 20px;
}

header .burger-menu i{
     color:var(--blanco);
}

/* --------- HEADER NAV --------- */

nav{
     display: none;
}

/* --------- MAIN --------- */
main{
     width: 100vw;
}

main .hero-img{
     width: 100vw;
     height: 300px;
}

/* --------- MAIN HERO-IMG --------- */

main .hero-img img{
     width: 100%;
     height: 100%;
}

/* --------- MAIN SECTIOIN-CARDS --------- */
.card {
     background-image: url(../img/fondo-home.jpeg);
     display: flex;
     padding: 5px;
}

.card img {
     width: 50%;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgb(50, 48, 48);
}

.card p {
     text-align: center;
     align-self: center;
     background-color: var(--gris);
     margin: 5px;
     opacity: 40%;
     border-radius: 10px;
}

/* --------- MAIN H1 --------- */
h1{
     background-color:var(--azul);
     color: var(--blanco);
     text-align: center;
     font-weight: 300;
}

/* --------- MAIN CARROUSEL --------- */

.carrousel {
     margin-top: 5px;
     width: 100%;

}

.conteCarrousel {
     width: 100%;
     height: 500px;
     overflow: hidden;
}

.itemCarrousel {
     position: relative;
     width: 100%;
     height: 100%;
}

.itemCarrouselTarjeta {
     width: 100%;
     height: 100%;
}

.itemCarrouselTarjeta img{
     width: 100%;

}

.itemCarrouselArrows {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px;
}

.itemCarrouselArrows>i:hover {
     cursor: pointer;
}



.conteCarrouselController {
     width: 100%;
     display: flex;
     justify-content: space-evenly;
}

.conteCarrouselController>a {
     text-decoration: none;
     font-size: 2em;
     color: grey;
}

.itemCarrouselArrows>a>i {
     color: var(--negro);
}





/* --------- FOOTER --------- */
footer{
     background-color: var(--azul);
}

footer .sector-footer{
     display: flex;
     justify-content: space-between;
}

.logo-goat{
     align-self: center;
}

.logo-goat img{
     width: 100px;
     padding: 5px;
}



footer .links-footer ul{
     text-align: center;
     margin-top: 20px;
}

footer .links-footer ul li a{
     color: var(--blanco);
     text-decoration: none;
}

footer .redes-footer{
     align-self: center;
}

footer .redes-footer i{
     color: var(--blanco);
     margin: 5px;
     font-size: 1.5em;
     
}
.p-footer{
padding: 10px;
     color: var(--blanco);
     text-align: center;
}



/* ------------------------------------------------------------------ */
/* --------- LOGIN.HTML --------- */
/* ------------------------------------------------------------------ */

.contenedor-contenido {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 60vw;
     height: 40vh;

}

.contenedor-contenido-2 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: fit-content;
     width: 60vw;

}

form.login {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
}

form.login input {
     margin: 5px 0px;
     border-radius: 5px;
     text-align: center;
     font-size: 10px;
     line-height: 2em;
     width: 30vw;
     background-color: var(--blanco);
}

form.login button {
     background-color: var(--bordo);
     margin: 5px 0px;
     border: solid 1px var(--bordo);
     margin: 2em;
     padding: 0.5em;
     border-radius: 10%;
     font-size: 10px;
     width: 30vw;
     color: white;
     text-align: center;
     transition-property: color;
     transition-duration: 400ms;


}

form.login button:hover {
     background-color: aquamarine;
     border: solid 1px aquamarine;

}

form a.ir-a {
     font-size: 10px;
     color: aquamarine;
     padding-top: 5px;
}

.contenido {
     display: flex;
     height: 90vh;
     color: var(--blanco);
     /* font-family: 'Roboto', sans-serif; */
     justify-content: center;
     align-items: center;
     flex-direction: column;
     background-color: var(--azul);
}

.contenido-2 {
     display: flex;
     color: white;
     height: 90vh;
     background-color: var(--azul);
     /* font-family: 'Roboto', sans-serif; */
     justify-content: center;
     align-items: center;
     flex-direction: column;
}








/* --------- MEDIAS --------- */

@media (min-width:1024px){
     .burger-menu{
          display: none;
     }

     header{
          justify-content: space-between;
     }

     nav{
          display: flex;
          margin-right: 20px;
     }

     nav ul{
          display: flex;
          align-self: center;
          list-style: none;
     }

     .ul-nav .item-nav{
          padding: 5px;
     }

     .item-nav a{
          color:var(--blanco);
          text-decoration: none;
     }
    
}